/* CSS Reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}


.hero-container {
    background-image: url(../images/Hero-1.png);
    background-size: cover;
    background-position: center;
    height: 700px;
    position: relative;
    /* padding: 20px; */
    /* color: white; */
}

/* Header & Navigation Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo > a {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.nav > .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    }

    .nav {
        display: flex;
        gap: 40px;
        align-items: center;
}

 .nav > .nav-links > li > a {
     color: #fff;
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
    }

  .nav-btn {
     background-color: #fff;
     color: #3E86F5;
     border: none;
     padding: 10px 24px;
     border-radius: 8px;
     font-size: 16px;
     font-weight: 600;
     cursor: pointer;
 }
 
 /* Hero Section Styles */
 .hero-content {
     text-align: center;
     max-width: 850px;
     margin: 120px auto 0;
     border: 1px solid red;
     color: white;
 }
 
 .hero-content h1 {
     font-size: 64px;
 }
 
 .hero-content p {
     font-size: 24px;
     line-height: 200%;
     margin-top: 40px
 }
 
 /* Booking Section Styles */
 .booking-container {
     /* border: 1px solid blue;
     max-width: 1100px;
     /* position: absolute; */
     /* width: 80%; */
     /* left: 50%; */
 }

 /* Special Offers Styles */
.special-offers{
     margin: 100px 20px;
     border: 1px solid green;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: #F4F7F9;
    }


    .special-offers h2 {
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 30px;
    }

     .top-offers-tabs {
         display: flex;
         background-color: white;
         border-radius: 8px;
         padding: 10px;
         margin-bottom: 40px;
         box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
     }

     .offer-btn {
         /* border: none; */
         background-color: transparent;
         padding: 10px 25px;
         border-radius: 8px;
         font-size: 16px;
         font-weight: 500;
         cursor: pointer;
         color: #000000;
         }


         .offer-btn-active {
             background-color: #3E86F5;
             color: #fff;
             box-shadow: rgba(77, 150, 255, 0.3);
         }


         /* Bottom Offers Grid Styles */
         .bottom-offers {
             display: flex;
             gap: 30px;
             justify-content: center;
             flex-wrap: wrap;
         }

         .offer-card {
             background-color: #ffffff;
             border-radius: 24px;
             padding: 16px 34px 16px 16px;
             box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
        }

         .offer-img-container {
             position: relative;
         }


         .offer-card img {
             width: 100%;
         }

         /* Vertical Date Styling */
         .card-date {
             position: absolute;
             top: 45px;
             right: -25px;
             writing-mode: vertical-rl;
             /* transform: rotate(180deg); */
             color: #8895A7;
             font-size: 16px;
             font-weight: 500;
             letter-spacing: 8px;
         }

         .card-content {
             padding: 20px 10px 10px;
         }

         .card-info-top {
             display: flex;
             align-items: center;
             gap: 15px;
             margin-bottom: 12px;
         }

         .tag {
             padding: 4px 12px;
             border-radius: 12px;
             font-size: 12px;
             font-weight: 500;
         }

         .tag-Relax {
             background-color: #FCDDEC;
         }
        
         .tag-adventure {
             background-color: #DFF4FD;


         }

         .duration {
             font-size: 14px;
             color: #8895A7;
             
         }

         
         .card-subtitle {
             font-size: 22px;
             font-weight: 600;
             color: #1e2a3b;
             padding: 10px 0;
            }

            .card-info-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }


            .price {
                font-size: 20px;
                font-weight: 700;
                color: 1e2a3b;
            }

            
            .price > span {
                font-size: 16px;
                font-weight: 400;
                color: #8895A7;
            }

            
            .book-btn {
                text-decoration: none;
                color: #3E86F5;
                background-color: #F2F6FF;
                padding: 10px 20px;
                border-radius: 10px;
                font-size: 14px;
                font-weight: 500;
            }

            .book-btn:hover {
                background-color: #e1e9fa;
            }


            /* Travel Section Styles */
            .travel-section {
                margin: 100px 0;
            }

            .travel-section > .container {
                display: flex;
            }

            .text-column {
                padding: 60px;
                
            }

            .text-column h2 {
                font-size: 48px;
                font-weight: 700;
                color: #333;
                margin-bottom: 20px;
                line-height: 1.2;
            }

        .text-column p {
            font-size: 20px;
            color: #555;
            margin-bottom: 20px;
        }

        .contact-btn {
            display: inline-block;
            background-color: #007bff;
            color: #fff;
            padding: 15px 30px;
            border-radius: 8px;
            text-decoration: none;
            font-weight: 600;
        }

        .contact-btn:hover {
            background-color: #0056b3;
        }

        .start-box {
            background-color: white;
            border-radius: 15px;
            padding: 15px 25px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
        }

        .stat-number {
            font-size: 1.4em;
            font-weight: 700;
            color: #007bff;
        }

        .stat-label {
            font-size: 0.8em;
            text-transform: uppercase;
            color: #666;
        }

        .top-right {
            top: 20px;
            right: -50px;
        }

        .middle-left {
            top: 50%;
            left: -50px;   
        }

        .bottom-right {
            bottom: 20px;
            right: -30px;
        }



    